body {
    Background: #808080;  
}

header {
    background: #D3D3D3;
    width: 1000px;
    height: 60px;
    float: center;
    
}

nav {
    margin: 5px, 0px, 5px, 0;
    background: #D3D3D3;
    width: 500px;
    Height: 80px;
}